In [4]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv("new_poems_5top_CNS2.csv")
df.head(5)

,poem_id,poem_text,poem_title,poet_cat,poet_id,poet_name
0,3878,اياك خمر فهي خالبه غالبه خاب غلب خابيه راح ناق...,إيّاكَ والخمرَ، فهي خالبةٌ،,العصر العباسي,117,أبوالعلاء المعري
1,3879,ان اقيم بلد اذكر بغير يجب يظن يسر ديانه والعل ...,من ليَ أن أقيمَ في بلدٍ،,العصر العباسي,117,أبوالعلاء المعري
2,3880,ثريا عنقود كرم ملاح اليل يانع غربيب وناي مدامه...,ما الثريّا عنقودُ كرمٍ مُلاحـ,العصر العباسي,117,أبوالعلاء المعري
3,3881,اطل صليب دلو نجومه يكف رجالا عبادت صلبا فرب ال...,أطلّ صليبُ الدّلو، بين نجومِه،,العصر العباسي,117,أبوالعلاء المعري
4,3882,رايت قضاء اله اوجب خلقه وعاد علي تصرفه سلبا وق...,رأيتُ قضاءَ اللَّه أوجَبَ خلْقَهُ،,العصر العباسي,117,أبوالعلاء المعري

In [5]:
''''
To Balanced Classes
'''''

"'\nTo Balanced Classes\n"

In [6]:
df.groupby(['poet_name']).agg(
     Poem_Count = ('poem_text','count'),
     ).reset_index()

            poet_name  Poem_Count
0    أبوالعلاء المعري        1593
1          ابن الرومي        2134
2    ابن نباتة المصري        1534
3    جبران خليل جبران        1148
4  عبد الغني النابلسي        1114

In [7]:
df_A = df[df['poet_id'] == 117].sample(n=1114)
df_B = df[df['poet_id'] == 173].sample(n=1114)
df_C = df[df['poet_id'] == 247].sample(n=1114)
df_D = df[df['poet_id'] == 263].sample(n=1114)
df_E = df[df['poet_id'] == 195].sample(n=1114)

In [8]:
pd_list = [df_A,df_B,df_C,df_D,df_E]
new_df= pd.concat(pd_list)

In [9]:
new_df.groupby(['poet_name']).agg(
     Poem_Count = ('poem_text','count'),
     ).reset_index()

            poet_name  Poem_Count
0    أبوالعلاء المعري        1114
1          ابن الرومي        1114
2    ابن نباتة المصري        1114
3    جبران خليل جبران        1114
4  عبد الغني النابلسي        1114

In [19]:
def label_index(x):
  if x== 117: return 0
  elif x== 173: return 1
  elif x== 247: return 2
  elif x== 263: return 3
  elif x== 195: return 4
  else: return 0

new_df['label']=new_df['poet_id'].apply(lambda x: label_index(x))

new_df.sample(5)

,poem_id,poem_text,poem_title,poet_cat,poet_id,poet_name,label
7418,62865,امر الهي كانا بيب مياه صور خلق لانتباه فاذا عن...,نحن بالأمر الإلهي,سوريا,263,عبد الغني النابلسي,3
6455,56316,يعرف قلبه يغرف بحار علم جهله يصرف كاسه ملان را...,كل من يعرف,سوريا,263,عبد الغني النابلسي,3
7404,62851,معا وجود ونحن عنه كنطق وماله عز مثيل وماله جل ...,نحن معاني الوجود فيه,سوريا,263,عبد الغني النابلسي,3
6092,53979,رافه دعاه كرام فل حدي وقد يفل حسامفيم تستنشدو ...,رأفة بها الدعاة الكرام,لبنان,247,جبران خليل جبران,2
990,4795,انافق حياه كفعل غيري وكل ناس شان نفاق اعل مهجت...,أُنافقُ في الحياةِ، كفِعلِ غَيري،,العصر العباسي,117,أبوالعلاء المعري,0

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(new_df['poem_text'],new_df['label'],test_size=0.15, stratify=new_df['label'])

In [21]:
''''
Naive Bayes 
'''''

"'\nNaive Bayes \n"

In [22]:
import numpy as np, pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.datasets import fetch_20newsgroups
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import make_pipeline
from sklearn.metrics import confusion_matrix, accuracy_score
sns.set() # use seaborn plotting style

In [23]:
# Build the model
model = make_pipeline(TfidfVectorizer(), MultinomialNB())
# Train the model using the training data
model.fit(X_train, y_train)
# Predict the categories of the test data
predicted_categories = model.predict(X_test)

In [24]:
print(np.array(y_test)[predicted_categories])
##array(['rec.autos', 'sci.crypt', 'alt.atheism', ..., 'rec.sport.baseball', 'comp.sys.ibm.pc.hardware', 'soc.religion.christian'], dtype='<U24')

[2 1 1 2 1 2 1 4 2 1 4 1 1 1 2 2 2 2 1 4 1 2 2 2 1 1 4 2 4 1 2 2 1 1 2 2 2
 1 1 2 1 1 1 2 1 1 2 2 4 2 1 2 1 2 1 2 1 2 4 2 1 2 2 1 2 2 1 4 4 1 2 1 4 1
 2 2 4 2 2 1 1 1 1 2 2 2 1 1 1 1 2 2 1 4 2 1 2 2 1 1 1 1 2 1 1 2 4 2 4 1 2
 1 2 1 2 4 1 1 2 1 1 1 2 1 2 2 1 1 2 1 1 2 1 2 2 2 2 1 1 2 1 2 2 2 1 1 4 1
 2 2 1 4 1 2 4 2 1 4 1 4 1 4 2 1 4 4 1 2 2 2 2 2 2 4 2 2 1 1 2 1 2 2 2 1 2
 2 4 2 2 1 1 1 2 4 1 2 1 2 1 2 2 1 4 2 2 2 1 1 4 2 4 2 1 4 4 1 1 1 2 1 4 2
 1 1 1 1 1 4 1 1 1 1 1 2 1 1 2 1 2 4 4 2 2 4 2 4 2 4 1 1 2 1 1 1 2 2 1 1 4
 2 2 1 4 2 2 1 1 1 4 1 2 2 1 1 1 2 1 1 1 1 1 1 4 4 2 1 2 1 2 2 2 2 2 1 1 2
 4 2 1 1 1 1 1 1 2 2 4 1 2 2 1 2 2 1 2 2 1 2 1 2 1 1 2 1 1 1 2 1 2 4 2 4 2
 2 2 2 2 1 1 1 4 4 2 1 2 1 2 4 1 4 2 1 2 2 2 4 1 1 2 2 1 2 2 2 2 2 2 1 1 4
 2 2 2 1 2 1 4 4 2 1 2 1 1 4 2 2 4 2 2 1 1 1 2 1 2 1 2 1 1 4 1 2 2 1 1 1 2
 1 2 1 1 1 1 1 1 1 4 1 1 1 2 1 1 4 2 1 2 2 1 1 2 2 1 1 4 2 1 2 2 1 4 1 4 2
 2 1 2 1 1 4 2 1 1 4 2 1 2 1 2 1 1 4 2 2 1 1 1 4 1 2 1 2 2 4 2 1 4 4 2 2 1
 2 2 2 2 2 1 2 1 2 1 2 2 2 2 2 1 1 1 2 1 1 4 1 1 1 1 2 2 4 2 2 1 4 1 1 4 2
 2 1 1 2 1 2 4 2 4 1 2 2 1 2 1 2 4 4 4 2 2 1 1 2 1 2 1 4 1 2 2 2 1 1 2 1 2
 1 2 2 1 4 4 2 2 1 1 2 1 2 2 2 2 1 4 1 2 2 2 1 1 4 1 1 4 2 1 1 2 1 2 2 1 1
 1 2 2 2 4 2 2 1 1 2 4 1 1 1 2 1 4 1 1 2 2 4 1 1 2 1 1 2 2 1 1 2 1 1 1 2 2
 2 2 2 1 1 4 2 2 2 1 1 2 2 1 1 2 1 2 1 2 1 1 4 4 1 2 4 2 1 2 2 2 2 4 1 4 2
 1 1 2 1 1 4 1 1 1 1 1 2 4 2 4 4 2 2 4 2 1 1 1 4 4 1 2 1 1 4 1 1 1 1 1 1 1
 2 1 2 4 4 1 1 2 4 1 1 2 2 1 2 1 2 1 2 1 2 1 1 2 4 2 1 2 1 1 1 1 1 4 2 2 1
 1 1 2 1 2 2 2 2 1 1 2 1 2 4 1 4 1 2 4 1 1 4 1 2 1 4 2 2 2 2 2 1 1 2 1 1 4
 2 4 2 1 4 4 1 4 1 2 1 1 4 1 1 1 1 1 1 4 4 2 1 1 2 1 2 2 1 1 2 1 2 1 1 1 2
 2 1 1 2 2 2 1 1 1 1 2 1 2 2 2 2 1 1 2 1 2 2]

In [25]:
# plot the confusion matrix
mat = confusion_matrix(y_test, predicted_categories)
#sns.heatmap(mat.T, square = True, annot=True, fmt = "d", xticklabels=y_train,yticklabels=y_train)
#plt.xlabel("true labels")
#plt.ylabel("predicted label")
#plt.show()
print("The accuracy is {}".format(accuracy_score(y_test, predicted_categories)))

The accuracy is 0.8026315789473685

In [26]:
''''
SVM 
'''''

"'\nSVM \n"

In [27]:
import sklearn
import numpy as np
import pandas as pd


from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(binary=True)

# learn a vocabulary dictionary of all tokens in the raw documents
vectorizer.fit(list(X_train) + list(X_test))

# transform documents to document-term matrix
X_train = vectorizer.transform(X_train)
X_test = vectorizer.transform(X_test)

In [28]:
from sklearn import svm
# classify using support vector classifier
svm = svm.SVC(kernel = 'linear', probability=True)

# fit the SVC model based on the given training data
prob = svm.fit(X_train, y_train).predict_proba(X_test)

# perform classification and prediction on samples in x_test
y_pred_svm = svm.predict(X_test)

In [29]:

from sklearn.metrics import accuracy_score
print("Accuracy score for SVC is: ", accuracy_score(y_test, y_pred_svm) * 100, '%')

Accuracy score for SVC is:  74.04306220095694 %